[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

body {
  padding-top: 50px;
}

.title {
  float: right;
}

.button-permuta {
  margin-top: -5px;
  margin-right: -13px;
}

.list-permuta {
  margin-top: 15px;
}

.text-error {
  color: red;
}

.text-centered {
  text-align: center;
}

.header-permuta-margin {
  margin-left: 50px;
}

.header-fecha-margin {
  margin-right: 50px;
}

.navbar-brand {
  max-height: 50px;
}

.logo {
  max-width: 50px;
}

.pagination {
  margin-top: -10px;
}

a.list-group-item:hover {
  background-color: #DDD8CB;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.page-message {
  margin-top: 120px;
}

.page-title {
  color: #FF4200;
}

.text-white {
  color: #fff;
}

.jumbotron-page-title {
  background-color: #B4B2B2;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}



#footer {
  background-color: #f5f5f5;
}

#push,
#footer {
  height: 100px;
}

.center-vertical {
  margin-top: 20px;
}