<div ng-controller="AuthenticationCtrl" class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Registrarse</h3>
			</div>
			<div class="panel-body">
				<form name="formSignup" role="form" ng-enter="handlerEnterKeyPress('handlerRegistrar')">
					<div class="form-group" ng-class='{"has-error": formSignup.nombres.$error.required && formSignup.nombres.$dirty}'>
							<label>Nombres</label>
							<input type="text" class="form-control" 
									placeholder="Ingrese sus nombres" 
									name="nombres"
									ng-model="newProfesor.nombres" 
									required
									ng-blur="handlerOnBlur('nombres')">
							<span ng-show="formSignup.nombres.$error.required && formSignup.nombres.$dirty"
									class="help-block">Campo Requerido</span>	
					</div>
					<div class="form-group" ng-class='{"has-error": formSignup.apellidos.$error.required && formSignup.apellidos.$dirty}'>
						<label>Apellidos</label>
						<input type="text" placeholder="Ingrese sus apellidos" name="apellidos"
							ng-model="newProfesor.apellidos" 
							class="form-control"
							required
							ng-blur="handlerOnBlur('apellidos')">
						<span ng-show="formSignup.apellidos.$error.required && formSignup.apellidos.$dirty"
								class="help-block">Campo Requerido</span>
					</div>
					<div class="form-group" 
					ng-class='{"has-error": (formSignup.email.$error.required || formSignup.email.$error.email) && formSignup.email.$dirty}'>
						<label>Correo Electronico</label>
						<input type="email" placeholder="Ingrese su correo electronico" name="email"
							ng-model="newProfesor.email" 
							class="form-control"
							required
							ng-blur="handlerOnBlur('email')">
						<span ng-show="formSignup.email.$error.required"
							class="help-block">Campo Requerido</span>
						<span ng-show="formSignup.email.$error.email && formSignup.email.$dirty"
						class="help-block">Correo electronico Incorrecto</span>
					</div>
					<div class="form-group" ng-class='{"has-error": formSignup.password.$error.required && formSignup.password.$dirty}'>
						<label>Contrasenia</label>
						<input type="password" placeholder="Ingrese su contrasenia" name="password"
							ng-model="newProfesor.password" 
							class="form-control"
							required
							ng-blur="handlerOnBlur('password')"
							>
						<span ng-show="formSignup.password.$error.required && formSignup.password.$dirty"
								class="help-block">
							Campo Requerido
						</span>
					</div>
					<input class="btn btn-info" type="button" ng-click="handlerRegistrar()" 
							value="Registrar">
					<div ng-show="signupError" class="alert alert-danger">
						{{signupError}}
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Conectarse</h3>
			</div>
			<div class="panel-body">
				<form name="formSignin" ng-enter="handlerEnterKeyPress('handlerConectar')">
					<div class="form-group">
						<label>Correo Electronico</label>
						<input type="email" placeholder="Ingrese su correo electronico" 
								name="email" class="form-control"
								ng-model="profesor.email">				
					</div>
					<div class="form-group">
						<label>Contrasenia</label>
						<input type="password" placeholder="Ingrese su contrasenia" 
								ng-model="profesor.password" class="form-control">
					</div>
					<input type="button" class="btn btn-info" value="Conectar">
					<div ng-show="loginError" ng-click="handlerConectar()" class="alert alert-danger">
						{{loginError}}
					</div>
				</form>
			</div>
		</div>
	</div>	
</div>
