<div class="row">
	<div>
		<h1>Hola que tal me llamo {{profesor.nombres}}</h1>
		<p>
			Quiero Permutar con gente que trabaje en <strong>{{permuta.destino.departamento}}, 
			{{permuta.destino.distrito}}</strong>
		</p>

		<p>
			Yo trabajo en <strong>{{permuta.origen.departamento}}, {{permuta.origen.distrito}}
			</strong> y mi especialidad es {{profesor.especialidad}}, en el turno {{profesor.item.turno}} con horas
			de trabajo {{profesor.item.horasTrabajo}}.
		</p>
		<p>
			Si estas interesado puedes comunicarte a este numero <strong>{{profesor.celular}}
			</strong>, gracias. :)
		</p>
	</div>
</div>