<div class="row">
	<div class="col-md-6">
		<h2>Datos Personales</h2>
		<label>Nombres</label><br>
		<input ng-model="profesor.nombres"><br>
		<label>Apellidos</label> <br>
		<input ng-model="profesor.apellidos"><br>
		<label>Email</label> <br>
		<input ng-model="profesor.email"><br>
		<label>Celular</label> <br>
		<input ng-model="profesor.celular"><br>
		<label>Especialidad</label> <br>
		<input ng-model="profesor.especialidad">
	</div>
	<div class="col-md-6">
		<h2>Mi Item</h2>
		<label>Cargo</label> <br>
		<input ng-model="profesor.item.cargo"><br>
		<label>Turno</label> <br>
		<input ng-model="profesor.item.turno"><br>
		<label>Departamento</label> <br>
		<input ng-model="profesor.item.departamento"><br>
		<label>Distrito</label> <br>
		<input ng-model="profesor.item.distrito"><br>
		<label>Horas de Trabajo</label> <br>
		<input ng-model="profesor.item.horasTrabajo"><br>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-4">
		<button ng-click="handlerUpdateProfesor()">Update</button>
	</div>
</div>