<div class="row">
  <br>
  <div class="panel panel-default">
    <div class="panel-body">
        <h2 class="text-lead">Olvidaste tu Contraseña?</h2>
        <h4>Ingresa tu correo electronico con el que
        te registraste, y dentro de unos minutos se te enviara la nueva contraseña a tu correo electronico.</h4>
        <form name="formResetPassword">
          <label class="control-label">Correo Electronico</label>
          <input class="form-control" ng-model="data.email" type="email" placeholder="Ingresa tu correo electronico">
          <br>
          <a class="btn btn-primary btn-lg" ng-click="handleSendEmail()">Enviar</a>
          <a class="btn btn-default btn-lg" href="#/">Regresar</a>    
        </form>
    </div>
  </div>

  <div class="modal fade" id="resultModal" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Actualizacion Correcta</h4>
        </div>
        <div class="modal-body">
          {{data.result}}
        </div>
      </div>  <!-- .modal-content -->
    </div>  <!-- .modal-dialog -->
  </div> <!--.modal-->
</div>