<div class="row">
		<div class="page-header">
			<h1>Ver Permutas</h1>
		</div>
		<h3 class="text-primary">Filtrar Busqueda de Permutas en Cochabamba</h3>
		<div class="panel panel-default">
			<div class="panel-body">
				<div>
						<span class="well well-sm">Entre Distritos</span>
						<span class="well well-sm">De:</span>
						<div class="btn-group">
							<button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
									{{distritoFrom || 'Elige Distrito'}}
									<span class="caret"></span>
							</button>

							<ul class="dropdown-menu">
								<li ng-repeat="distrito in distritosFrom"><a ng-click="handlerDistritoFrom(distrito.nombre)">{{distrito.nombre}}</a></li>
							</ul>
						</div>

						<span class="well well-sm">Y:</span>
						<div class="btn-group">
							<button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
									{{distritoTo || 'Elige Distrito'}}
									<span class="caret"></span>
							</button>

							<ul class="dropdown-menu">
								<li ng-repeat="distrito in distritosTo"><a ng-click="handlerDistritoTo(distrito.nombre)">{{distrito.nombre}}</a></li>
							</ul>
						</div>
					</div>			
			</div>
		</div>
	</div>
</div>
<div class="row">

	<div class="list-group">
		<a ng-repeat="permuta in filteredData" href="" ng-click="handlerPermutaDetalles(permuta)" class="list-group-item">

			<!-- header -->
			<p>
				<span class="header-permuta-margin">
					Me llamo: {{permuta.profesorName}}
				</span>
				<span class="title header-fecha-margin">
					Fecha: {{moment(permuta.updatedAt).format('DD/MM/YYYY')}}
				</span>
			</p>

			<!-- body -->
			<p>
				<span class="header-permuta-margin">
					Trabajo en el distrito de: <span class="text-danger">{{permuta.origen.distrito}}</span class="text-danger">
				</span>
				<span class="title header-fecha-margin">
					Y quiero permutar con alguien del distrito de: <span class="text-danger">{{permuta.destino.distrito}}</span class="text-danger">
				</span>
			</p>

			<!-- <p class="header-permuta-margin">
				<span>
					Quiero permutar con alguien del distrito de: {{permuta.destino.distrito}}
				</span>
			</p> -->

		<!-- 	<p><span><strong>De:</strong> {{permuta.origen.departamento}}</span><span class="title"><strong>A:</strong> {{permuta.destino.departamento}}</span></p>
			<p><span><strong>De:</strong> {{permuta.origen.distrito}}</span><span class="title"><strong>A:</strong> {{permuta.destino.distrito}}</span></p> -->
		</a>
	</div>
	<pagination 
		total-items="totalItems" 
		items-per-page="itemsPerPage" 
		page="currentPage"
		on-select-page="setPage(page)"
		previous-text="Anterior"
		next-text="Siguiente"
		></pagination>
</div>